.App {
  width: 100vw;
  height: 100vh;
}
.head{
  width: 100vw;
  background-color: #0d6efd;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
.link{
  font-size: 18px;
}
.link a{
  color: #ffffffb2;
}
.link a:hover{
  color: #fff;
}
a{
  color: #fff;
  text-decoration:none
}

